# Default ignored files
HozSec/workspace.xml
# Datasource local storage ignored files
HozSec/dataSources.local.xml
# .idea
HozSec/.idea
# pycaches
HozSec/HozRequest/__pycache__
HozSec/HozSec/__pycache__
HozSec/db.sqlite3
# venv
/venv
