<!DOCTYPE html>

{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>HozSec</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/login_page.css' %}">

    <div id="header">
        <h1>HozSec</h1>
        <div id="links">
            <a href="#">Оставить заявку</a>
            <a href="#">Личный кабинет</a>
            <a href="#">Выйти</a>
        </div>
    </div>
    <div class="container">
        <form id="contact" action="" method="post">
            {% csrf_token %}
            <h3>Авторизация</h3>
            {% if wmail %}
                <h3>Wrong email!</h3>
            {% endif %}
            <fieldset>
                <input placeholder="Эл. почта" name="mail" type="text" tabindex="1" required autofocus>
            </fieldset>
            {% if wpass %}
                <h3>Wrong password!</h3>
            {% endif %}
            <fieldset>
                <input placeholder="Пароль" name="pass" type="password" tabindex="1" required >
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Войти</button>
            </fieldset>
        </form>
    </div>
</head>
<body>

</body>
</html>