<!DOCTYPE html>
{% load static %}

<html lang="ru">
<link rel="stylesheet" href="{% static 'css/main_page.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>HozSec</title>
</head>

<body>
<div id="container">
    <div id="header">
        <h1>HozSec</h1>
        <div id="links">
            <a href="#">Оставить заявку</a>
            <a href="#">Личный кабинет</a>
            <a href="#">Выйти</a>
        </div>
    </div>
    <div class="content">
        <div class="column">
            <div class="row">
                <div class="username">
                    Имя пользователя
                </div>
                <span class="row_contents">
                    <div class="problem_pic">
                        <img class="picture" src="#">
                    </div>
                    <div class="problem_contents">
                        Описание проблемы
                        <div class="statusbar">
                            <div class="status">
                                Статус проблемы:
                            </div>
                            <div class="statusvalue">
                                Не решена
                            </div>
                        </div>

                    </div>
                </span>
            </div>
        </div>

    </div>

</div>
</body>
</html>