<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/reg_required.css' %}">
</head>
<body>
<div class="container">
    <form id="contact" action="" method="post">
        <h3>Для подачи жалобы необходима регистрация</h3>
        <input type="submit" value="Регистрация"
               onclick="window.location='http://127.0.0.1:8000/signup';"/>
        <input type="submit" value="Вход"
               onclick="window.location='http://127.0.0.1:8000/signin';"/>
    </form>
</div>
</body>
</html>