<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/reg_page.css' %}">


    <div id="header">
        <h1>HozSec</h1>
        <div id="links">
            <a href="#">Оставить заявку</a>
            <a href="#">Личный кабинет</a>
            <a href="#">Выйти</a>
        </div>
    </div>
    <div class="container">
        <form id="contact" action="" method="post">
            {% csrf_token %}
            <h3>Регистрация</h3>
            <fieldset>
                <input placeholder="Фамилия и инициалы" name="login" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Эл. почта" name="mail" type="text" tabindex="1" required data>
            </fieldset>
            {% if Empty_password and not initial%}
                <h1 > Пароль не должен быть пустым!</h1>
            {% endif %}
            {% if not Match_password and not Empty_password %}
                <h1 > Пароли должны совпадать!</h1>
            {% endif %}
            <fieldset>
                <input placeholder="Пароль" name="pass_1" type="password" tabindex="1" required>
            </fieldset>
            <fieldset>
                <input placeholder="Повторите пароль" name="pass_2" type="password" tabindex="1" required>
            </fieldset>

            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Зарегистрироваться</button>
            </fieldset>
        </form>
    </div>
</head>
<body>

</body>
</html>